#Importing Libraries and Loading Data

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv('East_African_countries_data.csv')

print("Data loaded successfully. First 5 rows:")
print(df.head().to_markdown(index=False, numalign="left", stralign="left"))

Data loaded successfully. First 5 rows:
| psu   | new_psu   | country   | DHSCLUST   | sampwt   | newcaseid_1   | anc_timing   | residence   | education_1          | birth_order   | wealth   | household_size_g   | household_sex   | age_group_new_cat   |
|:------|:----------|:----------|:-----------|:---------|:--------------|:-------------|:------------|:---------------------|:--------------|:---------|:-------------------|:----------------|:--------------------|
| 1     | 1         | DRC       | 1          | 1.0981   | 1 7 4         | early        | urban       | secondary and higher | one           | rich     | 5 or more          | male            | 15-24               |
| 1     | 1         | DRC       | 1          | 1.0981   | 1 19 2        | late         | urban       | secondary and higher | two           | rich     | 5 or more          | male            | 25-49               |
| 1     | 1         | DRC       | 1          | 1.0981   | 1 45 5        | early        | urban       | secondary and higher | one           | rich     | 5 or more          | female          | 15-24               |
| 1     | 1         | DRC       | 1          | 1.0981   | 1 45 13       | late         | urban       | secondary and higher | two           | rich     | 5 or more          | female          | 25-49               |
| 1     | 1         | DRC       | 1          | 1.0981   | 1 77 1        | late         | urban       | primary and lower    | one           | rich     | 5 or more          | female          | 25-49               |

In [2]:
print("\nInformation about the dataset (data types and non-null counts):")
df.info()

print("\nChecking for missing values (sum per column):")
print(df.isnull().sum().to_markdown(numalign="left", stralign="left"))

Information about the dataset (data types and non-null counts):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42719 entries, 0 to 42718
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   psu                42719 non-null  int64
 1   new_psu            42719 non-null  int64
 2   country            42719 non-null  object
 3   DHSCLUST           42719 non-null  int64
 4   sampwt             42719 non-null  float64
 5   newcaseid_1        42719 non-null  object
 6   anc_timing         42719 non-null  object
 7   residence          42719 non-null  object
 8   education_1        42719 non-null  object
 9   birth_order        42719 non-null  object
 10  wealth             42719 non-null  object
 11  household_size_g   42719 non-null  object
 12  household_sex      42719 non-null  object
 13  age_group_new_cat  42719 non-null  object
dtypes: float64(1), int64(3), object(10)
memory usage: 4.6+ MB

Checking for missing values (sum per column):
|                   | 0   |
|:------------------|:----|
| psu               | 0   |
| new_psu           | 0   |
| country           | 0   |
| DHSCLUST          | 0   |
| sampwt            | 0   |
| newcaseid_1       | 0   |
| anc_timing        | 0   |
| residence         | 0   |
| education_1       | 0   |
| birth_order       | 0   |
| wealth            | 0   |
| household_size_g  | 0   |
| household_sex     | 0   |
| age_group_new_cat | 0   |